{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Страница с регистрацией">
        <meta name="keywords" content="Bookshop, book, shop, register">
        <meta name="author" content="Zhgutov Evgeniy">
        <link href="{% static 'css/register.css' %}" rel="stylesheet">
        <title>Registration</title>
    </head>
    <body>
        <div class="registratin-container">
            <h2>Регистрация</h2>
            <form action = "" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        </div>
    </body>
</html>