/* Стили для контейнера страницы */
.container {
    max-width: 800px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px;
    background: #e4cfa1; /* Белый фон */
    border-radius: 10px; /* Сглаженные углы для контейнера */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для контейнера */
}

/* Изображение графика */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Чтобы график не выходил за пределы контейнера */
    height: auto; /* Соотношение сторон */
    border: 2px solid #ccc; /* Добавляем рамку */
    border-radius: 10px; /* Сглаживаем углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
}