{% extends "store/base.html" %}
{% load static %}

{% block extra_head %}
<meta name="description" content="Страница с политикой конфиденциальности">
<meta name="keywords" content="Bookshop, book, shop, privacy">
<meta name="author" content="Zhgutov Evgeniy">
{% endblock %}

{% block title %}
Политика конфиденциальности
{% endblock %}

{% block content %}

<h1 align="center">Политика конфиденциальности</h1>

<section>
    <p>Компания <strong>"Книжный уголок"</strong> придает огромное значение защите конфиденциальности своих клиентов. В этой политике конфиденциальности мы подробно объясняем, какие виды личной информации мы собираем, как она используется, защищается и при каких обстоятельствах может быть раскрыта. Мы стремимся обеспечить прозрачность в работе с данными и создать безопасные условия для их обработки.</p>
    
    <p>Мы собираем информацию о вас в различных ситуациях, таких как регистрация на нашем сайте, оформление заказов, подписка на рассылки или заполнение контактных форм. Эта информация может включать ваше полное имя, адрес электронной почты, адрес доставки, номер телефона и данные о платеже. Эти данные необходимы для предоставления наших услуг и улучшения вашего взаимодействия с нашим сайтом.</p>
    
    <p>Например, при оформлении заказа на нашем сайте мы запрашиваем данные, необходимые для доставки товара, такие как ваше имя, адрес и контактная информация. Эти данные позволяют нам точно и своевременно обработать ваш заказ. При регистрации на сайте или подписке на наши рассылки мы сохраняем ваш адрес электронной почты, чтобы предоставлять вам актуальную информацию о новинках, специальных предложениях и акциях.</p>
    
    <p>Кроме того, собранная информация может использоваться для персонализации вашего опыта работы на нашем сайте. Это означает, что на основе вашей активности и предпочтений мы можем рекомендовать товары, которые, скорее всего, вас заинтересуют, а также оптимизировать интерфейс и содержание сайта для удобства использования.</p>
    
    <p>Мы прилагаем все усилия для защиты вашей личной информации. Все данные, которые вы передаете через наш сайт, шифруются с использованием современных технологий SSL (Secure Sockets Layer), что предотвращает возможность их перехвата или несанкционированного использования. После поступления данных на наши серверы они хранятся в зашифрованном виде на защищенных серверах, доступ к которым имеет ограниченный круг сотрудников, прошедших соответствующую подготовку и имеющих право на работу с персональными данными.</p>
    
    <p>Несмотря на то, что мы используем ваши данные для обработки заказов и персонализации опыта, мы гарантируем, что ни при каких обстоятельствах ваша информация не будет продана, обменена или передана третьим лицам без вашего согласия. Единственными исключениями могут быть ситуации, когда передача данных необходима для выполнения наших обязательств перед вами, например, при передаче данных службам доставки или финансовым организациям для обработки платежей. Мы также можем быть обязаны раскрыть информацию в случае, если это требуется законом или в случае судебного разбирательства.</p>
    
    <p>Используя наш сайт, вы соглашаетесь с условиями настоящей политики конфиденциальности и тем, как мы используем ваши данные. Мы оставляем за собой право изменять данную политику по мере необходимости для того, чтобы соответствовать изменяющимся законодательным и технологическим стандартам. Все изменения в политике конфиденциальности будут публиковаться на этой странице, и в случае значительных изменений мы можем дополнительно уведомить вас через электронную почту или на сайте.</p>
    
    <p>Ваши данные остаются под нашей защитой, и мы стремимся соблюдать самые строгие стандарты безопасности, чтобы обеспечить вашу конфиденциальность и безопасность ваших данных на протяжении всего взаимодействия с нашим сайтом.</p>
</section>

<section>
    <h2>Скачать политику конфиденциальности</h2>
    <p>
        Вы можете скачать полную версию политики конфиденциальности в формате PDF, нажав на кнопку ниже:
    </p>
    <a href="/media/company/privacy_policy.pdf" download>
        <button style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">
            Скачать PDF
        </button>
    </a>
</section>

{% endblock %}