{% extends "store/base.html" %}
{% load static %}

{% block extra_head %}
<meta name="description" content="Страница с работниками">
<meta name="keywords" content="Bookshop, book, shop, workers">
<meta name="author" content="Zhgutov Evgeniy">
{% endblock %}

{% block title %}
Работники
{% endblock %}

{% block content %}

<h1 align="center" itemprop="page_name">Наши работники</h1>

<section>
    {% for worker in workers %}
    <div itemprop="employee">
        <img src="{{ worker.img.url}}" width="200" height="200">
        <div>
            <p>Имя: {{worker.worker.first_name}}</p>
            <p>Фамилия: {{worker.worker.last_name}}</p>
            <p>Дата рождения: {{worker.worker.date_of_birth}}</p>
            <p>Почта: {{worker.worker.email}}</p>
            <p>Телефон: {{worker.worker.phone_number}}</p>
            <p>Должность: {{worker.description}}</p>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}