{% extends "store/base.html" %}
{% load static %}

{% block extra_head %}
<meta name="description" content="Страница с книгой">
<meta name="keywords" content="Bookshop, book, shop">
<meta name="author" content="Zhgutov Evgeniy">
{% endblock %}

{% block title %}
{{ book.title }}
{% endblock %}

{% block content %}
<div>
    <img src="{% if book.image %}{{ book.image.url }}{% else %}
    {% static 'img/no_image.png' %}{% endif %}">
    <h1>{{ book.title }}</h1>
    <h2>
        <a href="{{ book.genre.get_absolute_url }}">{{ book.genre }}</a>
    </h2>
    <p> ${{ book.cost }}</p>
    {% if user.is_authenticated %}
    <form action="{% url 'cart:cart_add' book.id %}" method="post">
        {{ cart_book_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
    </form>
    {% endif %}
    
    {{ book.summary|linebreaks }}
    {% if user.is_staff %}
    <p><a href="{% url 'store:book_edit' book.id %}">Edit</a> | <a href="{% url 'store:book_delete' book.id %}">Remove</a></p>
    {% endif %}
    <div>
        <p><em>Joke of the Day:</em></p>
        <p>{{ joke }}</p>
    </div>
</div>
{% endblock %}
