{% extends "store/base.html" %}
{% load static %}

{% block extra_head %}
<meta name="description" content="Страница главная">
<meta name="keywords" content="Bookshop, book, shop">
<meta name="author" content="Zhgutov Evgeniy">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<script src="{% static 'js/timer.js' %}" defer> </script>

{% endblock %}

{% block title %}
    Главная
{% endblock %}

{% block content %}

<div class="page-header-fixed"> 
    <h2>Главная</h2>
    <div class="current-time-info"> 
        <p><i> Текущее время: {{ time }} </i></p>
        <p><i>Таймзона пользователя: {{ user_timezone }}</i></p>
        <p id="remaining-time"> </p>
    </div>
</div>
  
<br>

<div class="container-book">
  <div class="book">
    <span class="page turn"></span>
    <span class="page turn"></span>
    <span class="page turn"></span>
    <span class="page turn">
      <img class="page-img" src="/media/anim/cat.jpg">
    </span><!--  -->
    <span class="page turn"> </span>
    <span class="page turn"> 
        <p class="page-text">
            Добро пожаловать в наш онлайн-магазин "Книжный уголок"!
            Мы предлагаем большой выбор книг различных жанров, от классической литературы до современных бестселлеров.
            Здесь вы найдете всё, что нужно для души и ума — уникальные коллекции, редкие издания, новинки и многое другое.
        </p>
    </span> <!-- -->
    <span class="cover"></span>
    <span class="page"></span>
    <span class="cover turn"></span>
  </div>

  <div class="my-shop-name">
    <h1 class="anim-name">Книжный уголок</h1>
  </div>

  
</div>  

<br>
<hr/>

<h2>Последняя статья:</h2>
<article itemscope itemtype="https://schema.org/Article">
    {% if last_article.img %}
        <img src="{{ last_article.img.url }}" alt="{{ last_article.title }}" />
    {% endif %}
    <p dir="ltr" itemprop="name"><b>{{ last_article.title }}</b></p>
    <p dir="ltr" itemprop="articleBody">{{ last_article.short }}</p>
    <p dir="ltr" itemprop="datePublished">{{ last_article.date }}</p>
</article>

<hr/>

<!-- Логотип компании -->
<section>
    <h2>Логотип компании</h2>
    <div class="my_company_logo">
        <img src="{{ company.logo.url }}" alt="Логотип компании {{ company.name }}">
    </div>
</section>

<hr/>

{% if user.is_superuser %}
    <section>
        <h2>Настройка слайдера</h2>
        <form method="post" class="slider-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </section>
{% endif %}

<div class="slider-container" data-delay="{{ rotation_time }}">
    {% for banner in banners %}
    <div class="slide" data-url="{{ banner.url }}">
        <img src="{{ banner.image.url }}" alt="{{ banner.title }}">
        <div class="slide-text">{{ banner.title }}</div>
    </div>
    {% endfor %}
    <div id="slideCounter"></div>
    <button id="prevSlide">&lt;</button>
    <button id="nextSlide">&gt;</button>
    <div class="pagination">
        {% for banner in banners %}
        <span class="dot" data-slide="{{ forloop.counter0 }}"></span>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/slider.js' %}"></script>

<hr/>

<section itemscope itemtype="https://schema.org/Organization">
    <h2>Партнеры</h2>
    <div class="partners">
        {% for partner in partners %}
            <div class="partner">
                <a itemprop="sponsor" href="{{ partner.link }}" target="_blank">
                    <img src="{{ partner.img.url }}" alt="{{ partner.company_name }}">
                    <p>{{ partner.company_name }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

<div class='loader'>
    <div class='spinner-container-B'>
        <div class='spinner'>
            <div class='spinner-container-B'>
                <div class='spinner'>
                    <div class='spinner-container-B'>
                        <div class='spinner'>
                            <div class='spinner-container-B'>
                                <div class='spinner'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
